body{
  text-align: center;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

body > div {
  margin: 1% 0;
}

div{
  background-color: #FFF;
  border-radius: 10px;
  padding: 2%;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
img {
  width: 35px;
  height: auto;
  cursor: pointer;
  border-radius: 100px;
  margin: 0 1vw;
}

img:hover{
  background-color: #F6C503;
}

img:focus{
  background-color: #c0c0c0;
}

textarea{
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-size: inherit;
  font-weight: 600;
  text-align: center;
}
