@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* *{
  border: 1px solid red;
} */
html{
  height: 100%;
  display: flex;
  flex-direction: column;
}
body{
  width: 50vw;
  align-self: center;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

body > div, header, footer {
  margin: 1% 0;
}

div, header, footer{
  background-color: #FFF;
  border-radius: 10px;
  /* padding: 1%; */
}

h1, h2{
  margin: 1.5%;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input[type="color"]{
  height: 3rem;
  width: 3rem;
}

#startvalue, #endvalue{
  font-size: 1.2rem;
  font-weight: bold;
}

img {
  width: 35px;
  height: auto;
  cursor: pointer;
  border-radius: 100px;
  margin: 0 1vw;
  background-color: #F6C503;

}

img:hover{
  background-color: #EE6E73;
}

#button, #resetbutton{
  font-size: 1.2rem;
  margin: 2%;
  background-color: #EE6E73;
  border-radius: 10px;
  color: #FFF;
  box-shadow: 6px 6px 10px -4px rgba(128,125,128,1);
  text-transform: uppercase;
  font-weight: bold;
}

textarea{
  box-sizing: border-box;
  border-radius: 10px;
  width: 85%;
  height: auto;
  font-size: inherit;
  text-align: center;
  margin: 2%;
}

.alert{
  background-color: #EE6E73;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  color: #FFF;
  border-radius: 5px;
  box-shadow: 6px 6px 10px -4px rgba(128,125,128,1);
}

footer > p{
  margin: 1%;
  font-size: 1rem;
}
.fab {
  color: #000000;
  margin: 1%;
}

.fab:hover {
  color: #EE6E73;
  margin: 0 2%;
}
